{% extends 'base.html.twig' %}

{# {% block title %}Panier{% endblock %} #}

{% block body %}

<h1>Votre panier</h1>
<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Libelle</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th><img src="{{ asset('assets/images_the_district/panier_logo_rond_plus.png')}}" height="20" alt="plus"></th>
            <th><img src="{{ asset('assets/images_the_district/panier_logo_rond_moins.png')}}" height="20" alt="moins"></th>
            <th><img src="{{ asset('assets/images_the_district/panier_logo_rond_del.png')}}" height="20" alt="del"></th>
        </tr>
    <tbody>
    {% for i, produit in nouveau_panier %}
    <tr>
        <td><img src="{{ asset('assets/images_the_district/food/')}}{{ produit.image }}" height="40" alt="{{ produit.libelle }}" title="{{ produit.description }}" class="rounded-3"></td>
        <td>{{ produit.libelle }}</td>
        <td>{{ produit.prix }}</td>
        <td>{{ panier[produit.id] }}</td>
        <td>
            <a href="/panier/ajout/{{produit.id}}"> 
                <img src="{{ asset('assets/images_the_district/panier_logo_rond_plus.png')}}" height="20" alt="plus">
            </a>
        </td>
        <td>
            <a href="/panier/retrait/{{produit.id}}"> 
                <img src="{{ asset('assets/images_the_district/panier_logo_rond_moins.png')}}" height="20" alt="moins">
            </a>
        </td>
        <td>
            <a href="/panier/delete/{{produit.id}}">
                <img src="{{ asset('assets/images_the_district/panier_logo_rond_del.png')}}" height="20" alt="del">
            </a>
        </td>
</tr>

    {% endfor %}

    {% if total_panier > 0 %}
        <tr><td colspan="7" class="text-center">Total du panier&nbsp;=&nbsp;
        <span class="fs-3 mx-5">{{ total_panier }}&nbsp;&euro;</span>
        <a href="{{ path('app_delpanier') }}">Vider mon panier 
            <img src="{{ asset('assets/images_the_district/panier_logo_rond_del.png')}}" height="40" alt="del">
    </a>
    
    
    {% else %}
        <tr><td colspan="7" class="text-center">Panier vide
    {% endif %}
    </td></tr>

</tbody>
    </table>
    {# <p>Username: {{ app.user.nom ?? 'Anonymous user' }}</p>
    <p>Firstname: {{ app.user.prenom ?? 'Anonymous user' }}</p>
    <p>Email: {{ app.user.email ?? 'Anonymous user' }}</p>
    <p>Adresse: {{ app.user.adresse ?? 'Anonymous user' }}</p>
    <p>Code Postal: {{ app.user.cp ?? 'Anonymous user' }}</p>
    <p>Tel: {{ app.user.telephone ?? 'Anonymous user' }}</p> #}
    {# <p>flashes: {{ app.flashes ?? 'No flash' }}</p> #}
    
{# {% if app.debug %}
    <p>Request method: {{ app.request.method }}</p>
    <p>Application Environment: {{ app.environment }}</p>
    <p>Route: {{ app.current_route }}</p>
    <p>Token: {{ app.token }}</p>
{% endif %} #}
    {% if total_panier > 0 %}
        <div class="text-center">
        <a href="{{ path('app_panierlivraison') }}" class="btn btn-success">Où je vous livre ?</a>
        </div>

            
    {% endif %}
    

{% endblock %}
